<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div>
  <h4>Order Details</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Line Total</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'line_item', collection: @order.line_items %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">Total</td>
        <td><%= number_to_currency(@order.total_cents / 100, precision: 2) %></td>
      </tr>
    </tfoot>
  </table>
</div>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <p>Your order of <strong><%= number_to_currency(@order.total_cents / 100, precision: 2) %></strong> has been processed, and a receipt has been sent to <strong><%= @order.email %></strong>.</p>
    </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>

